*{ margin: 0; padding: 0;}

html, body{
    background: #eaeaea;
    font-size: 16px;
    font-family: sans-serif;
}

h1{
    font-size: 1.25em;
    font-weight: bold;
}

main{
    background: #fff;
    border-radius: 10px;
    margin: 20px auto;
    padding: 30px;
    width: 75%;
}
aside{
    border-left: 1px solid #ccc;
    padding: 10px;
    float: right;
    width: 60%;
}

aside h3{
    border-bottom: 1px solid #eaeaea;
    font-size: 1.25em;
    font-weight: bold;
    margin: 0 0 10px 3px;
}

aside img{
    float: right;
    width: 30%;
}

.done-true{
    color: #ccc;
    text-decoration: line-through;
}
.tasks{
    width: 40%;
}

.task{
    margin: 10px;
    width: 85%;
}

.standout-true{
    color: #dc0000;
    font-weight: bold;
}

.remove-task{
    float: right;
}

.orangeBtn{
    background: #f4ab00;
}

.header{
    margin-right: 15px;
    float: left;
}
.total{
    float: right;
}

.form-header{
    width: 35%;
    height: 20px;
}
.clearfix:after {
    content: " ";
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */